<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soar.ax.entity.ovp">

    <!-- find order line items by order entry date form line item table -->
	<select id="findODSOrderLineItemsByDate" parameterType="map" resultType="salesOrder">
		SELECT
			SLS_ORDR_NUM as salesOrderNumber
		FROM
				OVPDB_W2.dbo.IDL_SLS_ORDR_ITEM item
		<where> 
			<if test="orderEntryDateStart != null and orderEntryDateStart != '' and orderEntryDateEnd!='' and orderEntryDateEnd!= null">
    		 	<![CDATA[
    		 		item.ORDR_ENT_DT > '${orderEntryDateStart}' AND item.ORDR_ENT_DT < '${orderEntryDateEnd}'
    		 	]]>
   		 	</if>
		</where>
    </select>
    <select id="findOrderInfoByOrderNumber" parameterType="map" resultType="salesOrder">
		SELECT 	
			item.SLS_ORDR_LINE_NUM as salesOrderLineItemNumber, 
			item.ORDR_CTGRY as orderCategory, 
			item.PROD_ID as productId, 
			item.PROD_DESC as productDescription, 
			item.PROD_HIER as productHierarchy, 
			item.MACH_TYPE as machineType, 
			item.MACH_TYPE_DESC as machineTypeDescription, 
			item.MACH_MDL as machineModel, 
			item.MACH_MDL_DESC as machineModelDescription, 
			item.PROD_GRP as productGroup, 
			item.PROD_GRP_DESC as productGroupDescription, 
			item.PROD_BRD as productBrand, 
			item.PROD_BRD_DESC as productBrandDescription, 
			item.PROD_FMLY as productFamily, 
			item.EAN_UPC as eanUpc, 
			item.ORDR_QTY as orderQuantity, 
			item.SLS_UNIT as salesUnit, 
			item.ITEM_CRNCY as itemCurrency, 
			item.UNIT_PRC as unitPrice, 
			item.ORDR_AMT_ITEM as totalLineItemPrice, 
			item.ORDR_CNCLL_DT as orderCancellDate, 
			item.PLAN_ARR_DT as plannedArrivalDate, 
			item.PLAN_SPLR_SHIP_DT as plannedSupplierShipDate, 
			item.ORDR_RELSE_DT as orderReleaseDate, 
			item.SO_LINE_ITEM_LEAD_TM as soLineItemLeadTime, 
			item.CMT_GOODS_ISS_CSD as committedGoodsIssueCSD, 
			item.REJ_RSN as rejectReason, 
			item.REJ_RSN_DESC as rejectReasonDescription, 
			item.GEO_ID as geographyIdentifier, 
			item.SHPNG_COND as shippingCondition, 
			item.SHPNG_COND_DESC as shippingConditionDescription, 
			item.SHPNG_PT as shippingPoint, 
			item.SLS_ORGN as salesOrganization, 
			item.SLS_OFF_CTRY as salesOfficeCountry, 
			item.DVSN as division, 
			item.DSTRBTN_CHNL as distributionChannel, 
			item.CRDT_RELSE_DT as creditReleaseDate, 
			item.SOLD_TO_HOUSE_NUM as soldToHouseNumber, 
			item.SOLD_TO_STREET_1 as soldToStreet1, 
			item.SOLD_TO_STREET_2 as soldToStreet2, 
			item.SOLD_TO_DIST as soldToDistrict, 
			item.SOLD_TO_CITY_1 as soldToCity1, 
			item.SOLD_TO_RGN_CD as soldToRegionCode, 
			item.SOLD_TO_RGN_NM as soldToRegionName, 
			item.SOLD_TO_CTRY_CD as soldToCountryCode, 
			item.SOLD_TO_CTRY_NM as soldToCountryName, 
			item.SOLD_TO_PSTL_CD as soldToPostalCode, 
			item.SHIP_TO_CUST_NUM as shipToCustomerNumber, 
			item.SHIP_TO_CUST_NM as shipToCustomerName, 
			item.SHIP_TO_CUST_NM2 as shipToCustomerName2, 
			item.SHIP_TO_CUST_NM3 as shipToCustomerName3, 
			item.SHIP_TO_CUST_NM4 as shipToCustomerName4, 
			item.SHIP_TO_HOUSE_NUM as shipToHouseNumber, 
			item.SHIP_TO_STREET_1 as shipToStreet1, 
			item.SHIP_TO_STREET_2 as shipToStreet2, 
			item.SHIP_TO_DIST as shipToDistrict, 
			item.SHIP_TO_CITY_1 as shipToCity1, 
			item.SHIP_TO_RGN_CD as shipToRegionCode, 
			item.SHIP_TO_RGN_NM as shipToRegionName, 
			item.SHIP_TO_CTRY_CD as shipToCountryCode, 
			item.SHIP_TO_CTRY_NM as shipToCountryName, 
			item.SHIP_TO_PSTL_CD as shipToPostalCode, 
			item.SHIP_TO_EML as shipToEmail, 
			item.SHIP_TO_PHN_NUM as shipToTelephoneNumber, 
			item.BILL_TO_CUST_NUM as billToCustomerNumber, 
			item.BILL_TO_CUST_NM as billToCustomerName, 
			item.BILL_TO_CUST_NM2 as billToCustomerName2, 
			item.BILL_TO_CUST_NM3 as billToCustomerName3, 
			item.BILL_TO_CUST_NM4 as billToCustomerName4, 
			item.BILL_TO_HOUSE_NUM as billToHouseNumber, 
			item.BILL_TO_STREET_1 as billToStreet1, 
			item.BILL_TO_STREET_2 as billToStreet2, 
			item.BILL_TO_DIST as billToDistrict, 
			item.BILL_TO_CITY_1 as billToCity1, 
			item.BILL_TO_RGN_CD as billToRegionCode, 
			item.BILL_TO_RGN_NM as billToRegionName, 
			item.BILL_TO_CTRY_CD as billToCountryCode, 
			item.BILL_TO_PSTL_CD as billToPostalCode, 
			item.BILL_TO_EML as billToEmail, 
			item.BILL_TO_PHN_NUM as billToTelephoneNumber, 
			item.BILL_TO_CUST_CNTCT_NM_1 as billToCustomerContactName1, 
			item.BILL_TO_CUST_CNTCT_NM_2 as billToCustomerContactName2, 
			item.PAYER_CUST_NUM as payerCustomerNumber, 
			item.PAYER_CUST_NM as payerCustomerName, 
			item.PAYER_CUST_NM2 as payerCustomerName2, 
			item.PAYER_CUST_NM3 as payerCustomerName3, 
			item.PAYER_CUST_NM4 as payerCustomerName4, 
			item.PAYER_HOUSE_NUM as payerHouseNumber, 
			item.PAYER_STREET_1 as payerStreet1, 
			item.PAYER_STREET_2 as payerStreet2, 
			item.PAYER_DIST as payerDistrict, 
			item.PAYER_CITY_1 as payerCity1, 
			item.PAYER_RGN_CD as payerRegionCode, 
			item.PAYER_RGN_NM as payerRegionName, 
			item.PAYER_CTRY_CD as payerCountryCode, 
			item.PAYER_CTRY_NM as payerCountryName, 
			item.PAYER_PSTL_CD as payerPostalCode, 
			item.LAST_UPDT_DTTM as lastUpdateDatetime, 
			item.BILL_TO_CTRY_NM as billToCountryName, 
			item.CUST_ACCT_GRP as customerAccountGroup, 
			item.SMATL_HIGH_LEVEL as smatlHighLevel, 
			item.SMATL_ITEM_GATG_SERV as smatlItemCategory, 
			item.CTO_FLG as cto,
			
			card.CRDT_CARD_TYPE as creditCardType, 				
			card.CRDT_CARD_LAST_4_DIG as creditCardLast4Digit,   
						
			po.VNDR_NUM as vendorNumber,
			po.VNDR_NM as vendorName,
			po.PO_DOC_DT as purchaseOrderDocumentDate,
			po.PO_CNFRM_DT	as purchaseOrderConfirmationDate,
			po.PO_NUM as sohPurchaseOrderNumber,
			
		 	mo.MO_NUM as moNumber,
			mo.MO_ITEM_NUM as moItemNumber,
			mo.VNDR_NUM moVendorNumber,
			mo.VNDR_NM moVendorName,
			mo.MATL_NUM moMaterialNumber,
			mo.MO_RELSE_DT moReleaseDate,
			mo.MO_RELSE_FL moReleaseFlag,
	
			crm.SOLD_TO_PRTY_NUM as soldToPrtyNum,
			crm.GLOBL_LOC_NUM  as globalLocNum,
			crm.GLOBL_LOC_NM   as globalLocName,
			crm.GIN            as gin,
			crm.CNTRC_NUM 	   as contractNumber,
			crm.CNSMR_ID 	   as consumerId,
			crm.END_CUST_CHM_NUM as endCustomerChmNumber,
			crm.END_CUST_CHM_NM  as endcustomerChmName

		FROM 
			OVPDB_W2.dbo.IDL_SLS_ORDR_ITEM item 
				left join OVPDB_W2.dbo.IDL_SLS_ORDR_CRDT_CARD card
				on  item.SLS_ORDR_NUM = card.SLS_ORDR_NUM
				
				left join OVPDB_W2.dbo.IDL_MFR_ORDR_ITEM mo
				on item.SLS_ORDR_NUM = mo.SLS_ORDR_NUM and item.SLS_ORDR_LINE_NUM = mo.SLS_ORDR_LINE_NUM
				
				left join OVPDB_W2.dbo.IDL_PO_ITEM po
				on item.SLS_ORDR_NUM = po.SLS_ORDR_NUM and item.SLS_ORDR_LINE_NUM = po.SLS_ORDR_LINE_NUM
					
				left join OVPDB_W2.dbo.IDL_CRM_SLS_ORDR_ITEM crm
				on item.SLS_ORDR_NUM = crm.SLS_ORDR_NUM and item.SLS_ORDR_LINE_NUM = crm.SLS_ORDR_LINE_NUM	
				
				
						
    </select>
    
     
</mapper>